role.json
[{"id":"86ea4fef.ed168","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"bf4e5c35.12905","type":"mysql","z":"86ea4fef.ed168","mydb":"4b8a7861.a7efe8","name":"POC DB","x":680,"y":180,"wires":[["3603a2e9.a377ae"]]},{"id":"e985be82.7fe58","type":"function","z":"86ea4fef.ed168","name":"RoleQuery","func":"msg.topic = \"select * from role;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":340,"wires":[["8abe8d50.7e4"]]},{"id":"3603a2e9.a377ae","type":"debug","z":"86ea4fef.ed168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":180,"wires":[]},{"id":"38471d26.04c872","type":"function","z":"86ea4fef.ed168","name":"Insert Into Role","func":"msg.topic = \"INSERT INTO role (name, role_creation_date, role_created_user, role_modified_date, role_modified_user, active) VALUES (\\'User', now(), \\'Admin', now(), \\'Admin', \\'Y');\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":180,"wires":[["bf4e5c35.12905"]]},{"id":"b4928fe1.472d7","type":"inject","z":"86ea4fef.ed168","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":180,"wires":[["38471d26.04c872"]]},{"id":"1e72d84a.4027d8","type":"inject","z":"86ea4fef.ed168","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":340,"wires":[["e985be82.7fe58"]]},{"id":"8abe8d50.7e4","type":"mysql","z":"86ea4fef.ed168","mydb":"4b8a7861.a7efe8","name":"","x":670,"y":340,"wires":[["84dddb59.052fa8"]]},{"id":"84dddb59.052fa8","type":"debug","z":"86ea4fef.ed168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":880,"y":340,"wires":[]},{"id":"9a8952d9.fa25d","type":"mysql","z":"86ea4fef.ed168","mydb":"4b8a7861.a7efe8","name":"POC DB","x":640,"y":440,"wires":[["17858849.aa9798"]]},{"id":"17858849.aa9798","type":"debug","z":"86ea4fef.ed168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":440,"wires":[]},{"id":"dc5570a2.d783f","type":"function","z":"86ea4fef.ed168","name":"Update Role","func":"msg.topic = \"Update role set name=\\'User1', role_created_user = \\'Admin1' where role_id=1\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":440,"wires":[["9a8952d9.fa25d"]]},{"id":"ec25dc4f.fe5d1","type":"inject","z":"86ea4fef.ed168","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":440,"wires":[["dc5570a2.d783f"]]},{"id":"b5ff4f8a.9a0ed","type":"mysql","z":"86ea4fef.ed168","mydb":"4b8a7861.a7efe8","name":"","x":610,"y":520,"wires":[["5901c1c4.ec4c4"]]},{"id":"edc74df.12e1ab","type":"function","z":"86ea4fef.ed168","name":"RoleQuery","func":"msg.topic = \"select * from role;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":520,"wires":[["b5ff4f8a.9a0ed"]]},{"id":"5901c1c4.ec4c4","type":"debug","z":"86ea4fef.ed168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":520,"wires":[]},{"id":"62cfe5d2.eaa8ac","type":"inject","z":"86ea4fef.ed168","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":520,"wires":[["edc74df.12e1ab"]]},{"id":"6062fddc.7d44a4","type":"mysql","z":"86ea4fef.ed168","mydb":"4b8a7861.a7efe8","name":"POC DB","x":640,"y":620,"wires":[["46c5339c.5d732c"]]},{"id":"46c5339c.5d732c","type":"debug","z":"86ea4fef.ed168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":620,"wires":[]},{"id":"2b7db41c.89547c","type":"function","z":"86ea4fef.ed168","name":"Delete Role Record","func":"msg.topic = \"Update role set active=\\'N' where role_id=11\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":620,"wires":[["6062fddc.7d44a4"]]},{"id":"c34e675e.2a5da8","type":"inject","z":"86ea4fef.ed168","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":620,"wires":[["2b7db41c.89547c"]]},{"id":"3d7f199d.163e76","type":"debug","z":"86ea4fef.ed168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":720,"wires":[]},{"id":"69a9208f.90344","type":"mysql","z":"86ea4fef.ed168","mydb":"4b8a7861.a7efe8","name":"","x":600,"y":720,"wires":[["3d7f199d.163e76"]]},{"id":"aae69ffc.b6329","type":"function","z":"86ea4fef.ed168","name":"RoleQuery","func":"msg.topic = \"select * from role;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":720,"wires":[["69a9208f.90344"]]},{"id":"aca710e0.24f53","type":"inject","z":"86ea4fef.ed168","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":720,"wires":[["aae69ffc.b6329"]]},{"id":"4b8a7861.a7efe8","type":"MySQLdatabase","name":"pocdb","host":"127.0.0.1","port":"3306","db":"pocdb","tz":"","charset":"UTF8"}]