user.json
[{"id":"3a8f510f.f7a74e","type":"tab","label":"Flow 8","disabled":false,"info":""},{"id":"912912d9.ea6a4","type":"mysql","z":"3a8f510f.f7a74e","mydb":"4b8a7861.a7efe8","name":"POC DB","x":680,"y":140,"wires":[["9d30aa79.3a9ce8"]]},{"id":"30720ecd.511542","type":"function","z":"3a8f510f.f7a74e","name":"UserQuery","func":"msg.topic = \"select * from user;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":300,"wires":[["a7dc5fd3.486e7"]]},{"id":"9d30aa79.3a9ce8","type":"debug","z":"3a8f510f.f7a74e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":140,"wires":[]},{"id":"edb50e82.02445","type":"function","z":"3a8f510f.f7a74e","name":"Insert Into User","func":"msg.topic = \"Insert into user (user_id, dept_id, office_id, first_name, last_name, supervisor_id, email, mobile, type, create_date, created_by, modified_date, modified_by, active) values(1,1,1,\\'sankar', \\'vedhagiri', 1, \\'sankar@example.com', '1111111111', \\'S', now(), 1, now(), 1, \\'Y');\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":140,"wires":[["912912d9.ea6a4"]]},{"id":"f43dc709.7c7948","type":"inject","z":"3a8f510f.f7a74e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":140,"wires":[["edb50e82.02445"]]},{"id":"7f70ae53.402bf","type":"inject","z":"3a8f510f.f7a74e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":300,"wires":[["30720ecd.511542"]]},{"id":"a7dc5fd3.486e7","type":"mysql","z":"3a8f510f.f7a74e","mydb":"4b8a7861.a7efe8","name":"","x":670,"y":300,"wires":[["b89b82c0.b5a2f"]]},{"id":"b89b82c0.b5a2f","type":"debug","z":"3a8f510f.f7a74e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":880,"y":300,"wires":[]},{"id":"be26bf43.04b4f","type":"mysql","z":"3a8f510f.f7a74e","mydb":"4b8a7861.a7efe8","name":"POC DB","x":640,"y":400,"wires":[["8d0fe717.d8a3d8"]]},{"id":"8d0fe717.d8a3d8","type":"debug","z":"3a8f510f.f7a74e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":400,"wires":[]},{"id":"e75771a9.15092","type":"function","z":"3a8f510f.f7a74e","name":"Update User","func":"msg.topic = \"Update user set first_name= 'sankararaman' where user_id=1;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":400,"wires":[["be26bf43.04b4f"]]},{"id":"31510eb6.e20922","type":"inject","z":"3a8f510f.f7a74e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":400,"wires":[["e75771a9.15092"]]},{"id":"a8caecfd.f126e","type":"mysql","z":"3a8f510f.f7a74e","mydb":"4b8a7861.a7efe8","name":"","x":610,"y":480,"wires":[["57667b14.ee0294"]]},{"id":"758e4dd8.b63894","type":"function","z":"3a8f510f.f7a74e","name":"UserQuery","func":"msg.topic = \"select * from user;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":480,"wires":[["a8caecfd.f126e"]]},{"id":"57667b14.ee0294","type":"debug","z":"3a8f510f.f7a74e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":480,"wires":[]},{"id":"cb9145d.95aecb8","type":"inject","z":"3a8f510f.f7a74e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":480,"wires":[["758e4dd8.b63894"]]},{"id":"7ed88e4a.90c14","type":"mysql","z":"3a8f510f.f7a74e","mydb":"4b8a7861.a7efe8","name":"POC DB","x":640,"y":580,"wires":[["bcdcc39d.bde48"]]},{"id":"bcdcc39d.bde48","type":"debug","z":"3a8f510f.f7a74e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":580,"wires":[]},{"id":"e910a656.4004a8","type":"function","z":"3a8f510f.f7a74e","name":"Delete User Record","func":"msg.topic = \"Delete from user where user_id=1\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":580,"wires":[["7ed88e4a.90c14"]]},{"id":"595ef419.cc171c","type":"inject","z":"3a8f510f.f7a74e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":580,"wires":[["e910a656.4004a8"]]},{"id":"d41b3ac8.d64628","type":"debug","z":"3a8f510f.f7a74e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":680,"wires":[]},{"id":"17267535.b0d46b","type":"mysql","z":"3a8f510f.f7a74e","mydb":"4b8a7861.a7efe8","name":"","x":600,"y":680,"wires":[["d41b3ac8.d64628"]]},{"id":"a7b134c9.708418","type":"function","z":"3a8f510f.f7a74e","name":"UserQuery","func":"msg.topic = \"select * from user;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":680,"wires":[["17267535.b0d46b"]]},{"id":"2a603f36.c3ed1","type":"inject","z":"3a8f510f.f7a74e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":680,"wires":[["a7b134c9.708418"]]},{"id":"4b8a7861.a7efe8","type":"MySQLdatabase","name":"pocdb","host":"127.0.0.1","port":"3306","db":"pocdb","tz":"","charset":"UTF8"}]